@font-face
{
    -fx-font-family: "Raleway SemiBold";
    src: url("fonts/Raleway-SemiBold.ttf");
}

body {
    background-color: #394050;
    color: #F8F8F7;
    font-family: "Raleway SemiBold";
    padding: 1em;
}

a {
    color: #CE6243;
}

table {
    border-collapse: collapse;
    width: 50%;

}

th, td {
    border-bottom: 1px solid;

}
tr {
}