@font-face
{
    -fx-font-family: "Raleway SemiBold";
    src: url("fonts/Raleway-SemiBold.ttf");
}

.root, .split-pane {
    -fx-background-color: #394050;
    -fx-border-style: none;
}

.bg {
    -fx-background-color: #394050;
}

.label, .button, .text-field {
    -fx-font-family: "Raleway SemiBold";
    -fx-font-variant-numeric: lining-nums;
}

.text-field {
    -fx-font-size: 11pt;
}

.label {
    -fx-text-fill: #F8F8F7;
}

.dialog-pane .header-panel {
    -fx-background-color: #CE6243;
}

.accentColor {
    -fx-text-fill: #CE6243;
}

.panus {
    -fx-text-fill: #9CA8AD;
}

.button {
    -fx-background-color: #CE6243;
    -fx-font-size: 11pt;
    -fx-text-fill: #F8F8F7;
    -fx-font-variant-numeric: lining-nums;
}

.button:hover {
    -fx-background-color: #9CA8AD;
}

.split-pane-divider {
    -fx-padding: 0 0.1em 0 0.1em;
    -fx-background-color: #CE6243;
}

.separator .line{
    -fx-border-width: 1;
    -fx-border-color: #CE6243;
}

.mangijanupud .button {
    -fx-font-size: 18pt;
    -fx-font-variant-numeric: lining-nums;
}

.nimed .label {
    -fx-font-size: 11pt;
}

.edetabel {
    -fx-font-size: 12pt;
}

.kaardid .label {
    -fx-font-size: 14pt;
}

.mangija {
    -fx-font-size: 14pt;
}

.diilerloppkaardid {
    -fx-font-size: 14pt;
}

.loppkaardid .label {
    -fx-font-size: 12pt;
}

.mangijanimi .label {
    -fx-font-size: 14pt;
}